<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Rugby fixtures</title>
</head>
<h1>Rugby Fixture finder</h1>
<body>
     <h2>Fixtures</h2>
     <ul>
        {% for fixture in fixtures %}
            <li>
                <a href="{% url 'detail' fixture.id %}">
                {{ fixture.title }}
                </a>
            </li>
        {% endfor %}
     </ul>
     <ul>
        <a href="{% url 'clubs' %}">Clubs list</a>
     </ul>
    
</body>
</html>