{% extends "base.html" %}

{%block title%}Welcome{%endblock%}

{% block content%}
    <h1>Rugby Fixture finder</h1>
    
     <h2>Fixtures</h2>
     <ul>
        {% for fixture in fixtures %}
            <li>
                <a href="{% url 'detail' fixture.id %}">
                {{ fixture.title }}
                </a>
            </li>
        {% endfor %}
     </ul>
     <ul>
        <a href="{% url 'clubs' %}">Clubs list</a> 
        <p></p>
        <a href="{% url 'new' %}">add new Fixture</a>
     </ul>
    
{%endblock%}